html 
 head 
    title Mesa y Risa
 body 
    header 
      nav
        .menu
          a(href="/") Inicio
          a(href="/productos") Juegos 
          a(href="/login") Login
          a(href="/register") Registrarse
          a(href="/logout") Logout 
          a(href="/users") Admin
          a(href="/pedidos") Pedidos
    main 
        block content 
    footer   

