html 
 head 
    title Mesa y Risa
 body 
    header 
        nav
        //-a(href="/")
          img(src="image/logoPetanca.png",class="logo", alt="logotipo de la liga de petanca")
        ul
          //-a(href="/") 
            li Inicio
          //-a(href="/players") 
            li Jugadores 
          a(href="/login") 
            li Login
          a(href="/register") 
            li Registrarse
    main 
        block content 
    footer   