html 
    head   
     
        title Juegos De Mesa
    body 
        header 
           nav 
                    ul 
                        li 
                            a(href="/") Home
                        li 
                            a(href="/about") About
                        li 
                            a(href="/contact") Contact
                        li 
                            a(href="/productos") Juegos 
        main
            block content 
        footer