html 
 head 
    title Mesa y Risa
 body 
    header 
      nav
        //-a(href="/")
          img(src="image/logoProvisional.png",class="logonav", alt="logotipo de la tienda")
        .menu
          a(href="/") Inicio
          a(href="/productos") Juegos 
          a(href="/login") Login
          a(href="/register") Registrarse
          a(href="/logout") Logout 
    main 
        block content 
    footer   



