extends ../layout

block content
    h2 Crear pedido

    form(action="/carrito" method="POST")
        label(for="id") Id
        input(type="number" name="id" id="id", required)
        br
        label(for="id_usuario") Id usuario
        input(type="number" name="id_usuario" id="id_usuario", required)
        br
        label(for="nombre") Nombre 
        input(type="text" name="nombre" id="nombre", required)
        br
        label(for="descripcion") Descripcion 
        input(type="text" name="descripcion" id="descripcion", required)
        br