extends ../layout

block content

    h1 Juegos
    table 
        thead 
            th Nombre 
            th Descripcion 
            th precio 
            th stock 
        tbody 
            each producto in productos
                tr 
                    td
                        a(href= `/productos/producto/${producto.idproducto}`)=producto.nombre 
                    td=producto.descripcion 
                    td=producto.precio 
                    td=producto.stock

